<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364090663575-df66emgc6576g4m1392175f15f8bhsd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364090663575-df66emgc6576g4m1392175f15f8bhsd4</string>
	<key>API_KEY</key>
	<string>AIzaSyDzyLsVp9t4QJPTv1A6TrIuBjf_ndWExKs</string>
	<key>GCM_SENDER_ID</key>
	<string>364090663575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>outdoorcoders.com.mylearningcardsV1</string>
	<key>PROJECT_ID</key>
	<string>uat-mylearningcards</string>
	<key>STORAGE_BUCKET</key>
	<string>uat-mylearningcards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364090663575:ios:593820729945219252ffd2</string>
</dict>
</plist>